<app-navbar></app-navbar>
<div id="wrapper"></div>

<!--<div [hidden]="!descriptionDisplay">-->
<section id="description">
  <img src="../../../assets/images/face2.png">
  <br>
  <h2>Guillaume Meigniez</h2>
  <p>Ingénieur technique Analytics & IoT - Visualisation de données</p>
  <hr>
  <a href="https://github.com/GuillaumeMMM" class="social-icon"><i class="fa fa-github fa-3x"></i></a>
  <a href="https://www.linkedin.com/in/guillaume-meigniez/" class="social-icon"><i class="fa fa-linkedin fa-3x"></i></a>
</section>
<!--</div>-->