<section id="profile"  [ngsReveal]="{ duration: 1000,origin: 'bottom',distance: '50px',viewFactor: 0.5}">
  <h3>PROFILE</h3>

  <div id="profile-picture">
      <img src="../../../../assets/images/face2.png">
  </div>

  <div id="profile-text-container">
    <p class="profile-text">Jeune ingénieur en télécommunications, spécialisé dans l'internet des objets. Intéressé par la data science, le design, et les mécanismes de traîtement de l'information et particulièrement par la visualisation de données.</p>

    <p class="profile-text">Je travaille actuellement chez IBM à Paris où j'applique mes compétences en développement front-end, en design, et en analyse de données en participant à des projets d'industrie 4.0.</p>
  
  </div>

</section>