body{
    font-family:"Arial";
    background-color:#F4F4F4;
}

.container{
    width:80%;
    margin-left:10%;
}

.title{
    text-align:center;
    font-size: 2em;
}

.button{
    margin:0;
    width:100px;
    height:40px;
    border-width: 1px;
    border-color: #333;
    color:#333;
    background-color: #f4f4f4;
}

.button:hover{
    border-color: black;
    color:black;
    background-color:white;
}